services:
  postgres:
    image: postgres:15
    container_name: rag-postgres
    environment:
      POSTGRES_DB: ragdb
      POSTGRES_USER: raguser
      POSTGRES_PASSWORD: ragpass
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data


   
  qdrant:
    image: qdrant/qdrant:v1.16.2
    container_name: rag-qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage






  
volumes:
  pg_data:
  qdrant_data:
